* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin-bottom: 80px;
}

.hero {
  width: 1110px;
  margin: 32px 165px;
  display: flex;
  justify-content: space-between;
}

.Logo {
  width: 69px;
  height: 24px;
}

.hero-item {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-avatar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.about-iphone {
  background-image: url('/assets/img/phones.png');
  background-repeat: no-repeat;
  height: 660px;
  padding: 388px 274px 36px 165px;
}

.about-iphone-text {
  background-color: #FFFFFF;
  width: 541px;
  padding: 48px;
  border-radius: 12px;
}

.about-iphone-text h1 {
  width: 445px;
  font-family: Montserrat;
  font-size: 43px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.9000000059604645px;
  text-align: left;
  color: #212121;
  margin-bottom: 16px;
}

.farok-rastegar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.farok-rastegar p {
  width: 187px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #52647C;
}

.featured-article {
  width: 1110px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  color: #212121;
  margin-bottom: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EAEAEA;
}

.container {
  width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
}

.must-visit {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.must-visit-img {
  width: 354px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.must-visit h3 {
  width: 354px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #212121;
  margin-bottom: 8px;
}

.must-visit p {
  width: 354px;
  color: #52647C;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 32px;
}

.must-visit .farok-rastegar {
  margin-bottom: 8px;
}

.keyboard {
  height: 375px;
  padding: 145px 720px 64px 64px;
  margin-block: 56px 136px;
  background-image: url('/assets/img/keyboard.png');
  background-repeat: no-repeat;
}


.keyboard a {
  width: 64px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  padding: 4px 24px;
  background-color: #0D6EFD;
}

.keyboard h2 {
  width: 326px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  text-align: left;
  color: #FFFFFF;
  margin-block: 16px;
}

.keyboard .farok-rastegar strong {
  color: #FFFFFF;
}

.travel {
  display: flex;
  flex-wrap: wrap;
}

.travel-content {
  display: flex;
  gap: 32px;
  margin-bottom: 56px;
}

.travel-content h2 {
  width: 553px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  text-align: left;
  color: #212121;
  margin-block: 28px 8px;
}

.travel-content .farok-rastegar {
  margin-bottom: 18px;
  color: #52647C;
}

.travel-content p {
  width: 553px;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #52647C;
}

.load-more {
  height: 64px;
  margin: auto;
  padding: 16px 72px;
  margin-block: 72px 80px;
  background-color: #0D6EFD;
}

.load-more a {
  width: 128px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
}

.placeholder {
  height: 354px;
  border-radius: 12px;
  background-image: url('/assets/img/placeholder.png');
  background-repeat: no-repeat;
  padding: 77px 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder h2 {
  width: 426px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 47px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  margin-bottom: 84px;
}

.placeholder p{
  width: 277px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}